
.fetchBtn {
  font-family: "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  background: #4A90E2;
  background: linear-gradient(0deg, #3C80CF 0%, #5B9FEF 100%) no-repeat;
  background-size: 100% 200%;
  border: none;
  border-radius: 3px;
  color: #fff;
  line-height: 40px;
  height: 40px;
/*   width: 100%;
 */  min-width: 100px;
  font-size: 16px;
  padding: 0;
  cursor: pointer;
  box-sizing: border-box;
}
